<footer
class= "flex items-center place-content-center sticky top-[100vh] py-4 lg:py-0 col-span-8 row-start-8 max-h-16 lg:max-h-22 border
border-t-2">
<h2 id="footerContent"></h2>
</footer>

<script>
    document.addEventListener('astro:page-load', () => {
    const dynamicFooter = document.querySelector("#footerContent");
    dynamicFooter.innerHTML = `Copyright &copy ${new Date().getUTCFullYear()} Piotr Gutowski`;
    });
</script>