<footer
class= "flex items-center place-content-center sticky top-[100vh] py-4 lg:py-0 col-span-8 row-start-8 max-h-16 lg:max-h-22
border-t-2 border-slate-300 
dark:border-indigo-500 bg-gradient-to-r from-slate-100 from-20% via-indigo-100 via-60% to-slate-100 to-100% 
dark:bg-gradient-to-r dark:from-slate-800 dark:from-20% dark:via-indigo-900 dark:via-60% dark:to-slate-900 dark:to-100%">
<h2 id="footerContent"></h2>
</footer>

<script>
    document.addEventListener('astro:page-load', () => {
    const dynamicFooter = document.querySelector("#footerContent");
    dynamicFooter.innerHTML = `Copyright &copy ${new Date().getUTCFullYear()} Piotr Gutowski`;
    });
</script>