<div class="
lg:col-span-2 lg:row-span-2 lg:col-start-2 lg:row-start-2 lg:mx-16
border border-slate-400 rounded-lg shadow-md 
hover:outline hover:outline-1 hover:outline-offset-0 hover:outline-slate-400 
dark:border dark:border-indigo-500 dark:hover:outline-offset-0 dark:hover:outline-1 dark:hover:outline-indigo-500 dark:shadow-md dark:shadow-gray-700">
<slot />
</div>