---
import { ArrowRightCircle } from 'lucide-astro';
---

<div class="h-full grid grid-cols-1 grid-rows-1">
    <div id="asideCardWrapper" transition:name="aside" class="grid h-full col-start-1 row-start-1 backdrop-blur-md z-10 border-1 rounded-lg shadow-sm">
    <ul class="flex flex-row justify-center self-center gap-x-4 z-20">
        <li>
            <p class="text-xl lg:text-3xl text-center whitespace-pre-line">Interests &NewLine; <span class="block text-center">&</span> Technologies</p>
        </li>
        <li>
            <ArrowRightCircle id="arrowButtonWrapperAside" class="h-14 w-14 hover:animate-bounce hover:cursor-pointer mt-4"/>
        </li>
    </ul>
    </div>
    <slot />
</div>

<script>
document.addEventListener('astro:page-load', () => {
    
    const arrowButtonAside = document.querySelector("#arrowButtonWrapperAside");
    const cardWrapperAside = document.querySelector("#asideCardWrapper");

    if (arrowButtonAside && cardWrapperAside) {
    arrowButtonAside.addEventListener('click', () => {
        cardWrapperAside.classList.add('hidden');
     });
    }
});
</script>