---
import { ArrowRightCircle } from 'lucide-astro';
---

<div class="h-full grid grid-cols-1 grid-rows-1">
    <div id="mainCardWrapper" transition:name="main" class="grid h-full col-start-1 row-start-1 backdrop-blur-md z-10 border-1 rounded-lg shadow-sm">
    <ul class="flex flex-row justify-center self-center gap-x-4">
        <li class="">
            <p class=" text-xl lg:text-3xl text-center whitespace-pre-line">Experience &NewLine; <span class="block text-center">&</span> Education</p>
        </li>
        <li>
            <ArrowRightCircle id="arrowButtonWrapperMain" class="h-14 w-14 hover:animate-bounce hover:cursor-pointer mt-4"/>
        </li>
    </ul>
    </div>
    <slot />
</div>
<script>
document.addEventListener('astro:page-load', () => {
    const arrowButtonMain = document.querySelector("#arrowButtonWrapperMain");
    const cardWrapperMain = document.querySelector("#mainCardWrapper");
    if (arrowButtonMain && cardWrapperMain) {
    arrowButtonMain.addEventListener('click', () => {
        cardWrapperMain.classList.add('hidden');
     });
    }
});
</script>