---
import { Image } from 'astro:assets';
import UWLogo from '../../../../assets/UWlogo.png';
---

<div class="h-full grid grid-cols-1 grid-rows-2">
    <div class="grid-rows-1 row-start-1">
        <div class="grid h-full grid-cols-2">
            <div class="h-full col-start-1 grid items-center justify-center">
                <Image src={UWLogo} alt="Uniwersytet Warszawski" loading="lazy" class=""></Image>
            </div>
            <div class="h-full col-start-2 grid items-center justify-start">
                <ul class="space-y-8">
                    <li>
                        <a href="https://www.wne.uw.edu.pl/" target="_blank">
                        <h2 class=" text-3xl lg:text-5xl">University of Warsaw</h2>
                        </a>
                    </li>
                    <li>
                        <h3 class="text-lg whitespace-pre-line">October 2023 - Present &NewLine; Masters degree - Economics</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid-rows-1 row-start-2">
        <div class="h-full grid text-wrap text-base place-content-center justify-center items-start ml-4 pb-6 lg:items-start lg:justify-center lg:text-lg lg:place-content-start lg:pb-0 lg:ml-0">
                <p>
                    Undergoing my Masters degree in the faculty of Economics.
                </p>
                <p>
                    The studies are extramural.
                </p>
                <p>
                    The curriculum covers a wide range of economic topics, including econometrics.
                </p>
        </div>
    </div>
</div>