---
import { Image } from 'astro:assets';
import EpinoteLogo from '../../../../assets/epinote.png';
---

<div class="h-full grid grid-cols-1 grid-rows-2">
    <div class="grid-rows-1 row-start-1">
        <div class="grid h-full grid-cols-2">
            <div class="h-full col-start-1 grid items-center justify-center">
                <Image src={EpinoteLogo} alt="Epinote" loading="lazy" class=""></Image>
            </div>
            <div class="h-full col-start-2 grid items-center justify-start">
                <ul class="space-y-8">
                    <li>
                        <a href="https://epinote.io/" target="_blank">
                        <h2 class="text-3xl lg:text-5xl">Epinote</h2>
                        </a>
                    </li>
                    <li>
                        <h3 class="text-lg whitespace-pre-line">December 2021 - October 2022 &NewLine; (Part Time)</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid-rows-1 row-start-2">
        <div class="h-full grid text-wrap text-base place-content-center justify-center items-start ml-4 pb-6 lg:items-start lg:justify-center lg:text-lg lg:place-content-start lg:pb-0 lg:ml-0">
                <p>
                    Worked as a Data Annotation freelancer. 
                </p>
                <p>
                    Took part in various projects, which then were used in ML models training.
                </p>
                <p>
                    During my time in the company I've mainly used Excel.
                </p>
        </div>
    </div>
</div>