---
import { Playwright } from 'simple-icons-astro';
import { Postman } from 'simple-icons-astro';
import { Githubactions } from 'simple-icons-astro';
---
<div id="homeAsideContent" class="
grid grid-cols-1 grid-rows-3 z-0 col-start-1 row-start-1 py-4 space-y-6 
lg:grid lg:h-full lg:grid-cols-1 lg:grid-rows-3 lg:col-start-1 lg:row-start-1 lg:z-0 lg:py-0 lg:space-y-0">
    <div class="grid col-span-1 place-content-center lg:grid lg:row-span-1 lg:place-content-center lg:justify-items-center">
        <p id="testingParagraph" class="col-start-1 row-start-1 text-md m-3 text-wrap text-center lg:text-lg lg:text-center lg:mx-8 lg:whitespace-pre-line">
            My main interest is Quality Assurance. &NewLine; I'm expanding my knowledge into automation. &NewLine; Looking to advance my career further down the path of SDET.
        </p>
    </div>
    <div class="grid col-span-1 place-content-center lg:grid lg:row-span-1 lg:place-content-center lg:justify-items-center">
        <p id="devParagraph" class="col-start-1 row-start-1text-md text-wrap text-center lg:text-lg lg:text-justify lg:mx-2">I'm also interested in FE/BE Development and DevOps</p>
    </div>
    <div class="grid col-span-1 place-content-center lg:grid lg:row-span-1 lg:place-content-center lg:justify-items-center">
        <div id="technologyContainer" class="place-content-center">
            <p class="text-lg text-center my-4">Tools that I'm using:</p>
            <ul class="flex flex-row gap-x-2 lg:flex lg:flex-row lg:gap-x-3.5">
                <li>
                    <Playwright alt="Playwright" class="w-12 h-12 lg:w-14 lg:h-14 hover:text-green-500"/>
                </li>
                <li>
                    <Postman alt="Postman" class="w-12 h-12 lg:w-14 lg:h-14 hover:text-orange-500"/>
                </li>
                <li>
                    <Githubactions alt="Github Actions" class="w-12 h-12 lg:w-14 lg:h-14 hover:text-blue-500"/>
                </li>
            </ul>
        </div>
    </div>
</div>