---
import PageLayout from '../layouts/PageLayout.astro';
import Main from '../components/Main.astro';
import Aside from '../components/Aside.astro';
import ContentBottom from '../components/ContentBottom.astro';
import ContentImages from '../components/ContentImages.astro';
---

<PageLayout title="Piotr Gutowski - Automation">
	<Main></Main>
	<Aside></Aside>
	<ContentBottom></ContentBottom>
	<ContentImages></ContentImages>
</PageLayout>