---
import '@fontsource/titillium-web/400.css';
import '@fontsource/titillium-web/600.css';
import '@fontsource/titillium-web/700.css';
import Wrapper from '../components/Wrapper.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import Aside from '../components/Aside.astro';
import ContentBottom from '../components/ContentBottom.astro';
import ContentImages from '../components/ContentImages.astro';
import Footer from '../components/Footer.astro';
import AsideCardWrapper from '../components/AsideCardWrapper.astro';
import MainCardWrapper from '../components/MainCardWrapper.astro';
import BottomCardWrapper from '../components/BottomCardWrapper.astro';
import HomeAsideContent from '../components/HomeAsideContent.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Piotr Gutowski QA</title>
	</head>
	<body class="font-sans min-h-screen grid dark:text-slate-200">
		<Wrapper>
		<Header></Header>
		<Main>
			<MainCardWrapper>

			</MainCardWrapper>
		</Main>
		<Aside>
			<AsideCardWrapper>
				<HomeAsideContent></HomeAsideContent>
			</AsideCardWrapper>
		</Aside>
		<ContentBottom>
			<BottomCardWrapper>

			</BottomCardWrapper>
		</ContentBottom>
		<ContentImages></ContentImages>
		<Footer></Footer>
		</Wrapper>
	</body>
</html>

