---
import PageLayout from '../layouts/PageLayout.astro';
import Main from '../components/Index/Main.astro';
import Aside from '../components/Index/Aside.astro';
import ContentBottom from '../components/Index/ContentBottom.astro';
import ContentImages from '../components/Index/ContentImages.astro';
import AsideCardWrapper from '../components/Index/Wrappers/AsideCardWrapper.astro';
import MainCardWrapper from '../components/Index/Wrappers/MainCardWrapper.astro';
import BottomCardWrapper from '../components/Index/Wrappers/BottomCardWrapper.astro';
import HomeAsideContent from '../components/Index/Content/HomeAsideContent.astro';
import HomeBottomContent from '../components/Index/Content/HomeBottomContent.astro';
import HomeMainContent from '../components/Index/Content/HomeMainContent.astro';
---

<PageLayout title="Piotr Gutowski - QA">
	<Main>
		<MainCardWrapper>
			<HomeMainContent></HomeMainContent>
		</MainCardWrapper>
	</Main>
	<Aside>
		<AsideCardWrapper>
			<HomeAsideContent></HomeAsideContent>
		</AsideCardWrapper>
	</Aside>
	<ContentBottom>
		<BottomCardWrapper>
			<HomeBottomContent></HomeBottomContent>
		</BottomCardWrapper>
	</ContentBottom>
	<ContentImages></ContentImages>
</PageLayout>