---
import PageLayout from '../layouts/PageLayout.astro';
import Main from '../components/Index/Main.astro';
import Aside from '../components/Index/Aside.astro';
import ContentBottom from '../components/Index/ContentBottom.astro';
import ContentImages from '../components/Index/ContentImages.astro';
---

<PageLayout title="Piotr Gutowski - Manual">
	<Main></Main>
	<Aside></Aside>
	<ContentBottom></ContentBottom>
	<ContentImages></ContentImages>
</PageLayout>