---
import '@fontsource/titillium-web/400.css';
import '@fontsource/titillium-web/600.css';
import '@fontsource/titillium-web/700.css';
import Wrapper from '../components/Wrapper.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import Aside from '../components/Aside.astro';
import ContentBottom from '../components/ContentBottom.astro';
import ContentImages from '../components/ContentImages.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Piotr Gutowski QA</title>
	</head>
	<body class="font-sans min-h-screen grid bg-slate-100 dark:bg-slate-600 dark:text-slate-200">
		<Wrapper>
		<Header>
		</Header>
		<Main>
		</Main>
		<Aside></Aside>
		<ContentBottom></ContentBottom>
		<ContentImages></ContentImages>
		<Footer></Footer>
		</Wrapper>
	</body>
</html>
