<div transition:name="fourthpost" class="
col-span-8 row-start-8 row-span-2 mx-6
lg:col-span-4 lg:row-span-4 lg:col-start-4 lg:row-start-4 lg:mb-36 lg:mt-8 lg:mr-[72px] lg:-ml-32
border rounded-lg shadow-sm">
<slot />
</div>