<section id="manual-e2e" class="h-full">
    <div class="grid h-full">
      <div class="grid items-center place-items-center  lg:place-items-center lg:items-center">
          <h2 class="text-3xl">End to End</h2>
      </div>
      <p class="text-base text-center mx-3 lg:mx-4 lg:text-lg lg:text-center lg:text-wrap">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Quo tempora error alias delectus dignissimos, quas, ex, incidunt porro ut placeat laudantium. 
          Minima libero explicabo dicta ipsa amet quo quas, reprehenderit, recusandae odit veniam necessitatibus, quaerat quam deleniti eum! 
          Quae consequuntur vero necessitatibus expedita repellendus, tempore neque recusandae itaque quibusdam ratione!
      </p>  
    </div>
  </section>