<section id="methodology" class="h-full">
    <div class="grid h-full">
      <div class="grid items-center place-items-center  lg:place-items-center lg:items-center">
          <h2 class="text-3xl">Methodology</h2>
      </div>
      <p class="text-base text-center mx-3 lg:mx-4 lg:text-lg lg:text-center lg:text-wrap">
        The methodology for manual testing of web applications includes functional testing, where the Application Under Test (AUT) is checked manually. 
        A mind map is used to create a detailed view of the AUT flow. API testing is conducted using the browser's developer tools. 
        Additionally, the developer tools' device mode is used for checking different viewports to ensure the AUT behaves as expected.
      </p>  
    </div>
  </section>