<section id="test-plan" class="h-full">
  <div class="grid h-full">
    <div class="grid items-center place-items-center  lg:place-items-center lg:items-center">
        <h2 class="text-3xl">Test Plan</h2>
    </div>
    <p class="text-base text-center mx-3 lg:mx-4 lg:text-lg lg:text-center lg:text-wrap">
        Created a detailed document that describes the test strategy, objectives, schedule, estimation, deliverables, and resources 
        required to perform testing for a software product. The test plan for my end to end project describes various feasible for automation features,
        risks and few metrics which could be helpful in determining exit criteria of the project in a given sprint.
        <br>
        <br>
        Link - <a class="hover:text-amber-400" target="_blank" href="https://drive.google.com/drive/folders/1MozHieNdY-N8WVahpjVHgFwL0uC-kOgF">E2E folder</a>
    </p>  
  </div>
</section>