<section id="test-case" class="h-full">
    <div class="grid h-full">
      <div class="grid items-center place-items-center  lg:place-items-center lg:items-center">
          <h2 class="text-3xl">Test Case</h2>
      </div>
      <p class="text-base text-center mx-3 lg:mx-4 lg:text-lg lg:text-center lg:text-wrap">
          Test cases were derived using the exploratory method and written in Gherkin language.
          I adopted a behaviour driven mindset for writing test cases.
          Using Given-When-Then principle, each test case - or scenario - covers one behaviour.
          The test cases are grouped into features that could be converted into user stories.
          Each test case consists of Acceptance Criteria steps, which serve as the basis for automation.
      </p>  
    </div>
  </section>