---
import Button from '../../Shared/Button.astro';
---

<div transition:name="firstpost" class="grid grid-cols-1 grid-rows-2 h-full">
    <div class="grid row-span-1 row-start-1 text-3xl text-center place-content-center">Test Plan</div>
    <div class="grid row-span-1 row-start-2 place-content-center">
        <Button href="../Posts/testplan">View</Button>
    </div>
</div>
