---
import { ArrowRightCircle } from 'lucide-astro';
---

<div class="h-full grid grid-cols-1 grid-rows-1">
    <div id="bottomCardWrapper" class="grid h-full col-start-1 row-start-1 backdrop-blur-md z-10 border-1 rounded-lg shadow-md">
    <ul class="flex flex-row justify-center self-center gap-x-4 -my-12">
        <li>
            <p class="text-3xl text-center whitespace-pre-line">Certificates &NewLine; <span class="block text-center">&</span> Courses</p>
        </li>
        <li>
            <ArrowRightCircle id="arrowButtonWrapperBottom" class="h-14 w-14 hover:animate-bounce hover:text-violet-500 hover:cursor-pointer mt-4"/>
        </li>
    </ul>
    </div>
    <slot />
</div>
<script>
    const arrowButtonBottom = document.querySelector("#arrowButtonWrapperBottom");
    const cardWrapperBottom = document.querySelector("#bottomCardWrapper");
    arrowButtonBottom.addEventListener('click', () => {
        cardWrapperBottom.classList.add('hidden');
     });
</script>