---
const url = new URL(Astro.props, Astro.url);
---
<a {...Astro.props}
class="h-14 w-28 lg:h-14 lg:w-36 text-base font-medium text-slate-200 uppercase tracking-widest rounded-full border-none items-center place-content-center shadow-md shadow-violet-500/50 bg-purple-500 hover:brightness-125 flex"
>
<slot/>
</a>
