---
const url = new URL(Astro.props, Astro.url);
---
<a {...Astro.props}
class="h-14 w-36 text-base font-medium text-slate-200 uppercase tracking-wide rounded-full border-none items-center place-content-center shadow-lg shadow-violet-500/50 bg-purple-500 hover:brightness-125 hover:border-4 flex"
>
<slot/>
</a>
