<footer
class= "flex items-center place-content-center sticky top-[100vh] col-span-8 row-start-8 border-t-2 border-gray-300 shadow-inner">
<h2 id="footerContent"></h2>
</footer>

<script>
    const dynamicFooter = document.querySelector("#footerContent");
    dynamicFooter.innerHTML = `Copyright &copy ${new Date().getUTCFullYear()} Piotr Gutowski`;
</script>