---
import { Image } from 'astro:assets';
import Button from '../components/Button.astro';
import Moon from '../assets/moon-solid.svg'
import Linkedin from '../assets/linkedin.svg';
import Github from '../assets/github.svg';


---

<header
class="col-span-8 flex flex-row justify-around items-center border-b-2 border-gray-300 shadow-md"
    >
    <Button href="/">Home</Button>
    <div class="flex space-x-4">
        <Button href="/manual">Manual</Button>
        <Button href="/automation">Automation</Button>
    </div>
    <div>
        <ul class="list-none flex flex-row space-x-6">
            <li><a href=""><Image src={Moon} alt="Dark mode" class="hover:rotate-12"></a></li>
            <li><a href="https://www.linkedin.com/in/piotr-gutowski-8b449b247/"><Image src={Linkedin} alt="Linkedin" class="hover:rotate-12"></a></li>
            <li><a href="https://github.com/pgutx"><Image src={Github} alt="Github" class="hover:rotate-12"/></a></li>
        </ul>
    </div>

</header>