---
import { Image } from 'astro:assets';
import UGLogo from '../assets/UGlogo.png';
---

<div class="h-full grid grid-cols-1 grid-rows-2">
    <div class="grid-rows-1 row-start-1">
        <div class="grid h-full grid-cols-2">
            <div class="h-full col-start-1 grid items-center justify-center">
                <Image src={UGLogo} alt="Uniwersytet Gdański" loading="lazy" class=""></Image>
            </div>
            <div class="h-full col-start-2 grid items-center justify-start">
                <ul class="space-y-8">
                    <li>
                        <a href="https://wzr.ug.edu.pl/glowna/" target="_blank">
                        <h2 class="text-3xl lg:text-5xl hover:text-violet-500">University of Gdańsk</h2>
                        </a>
                    </li>
                    <li>
                        <h3 class="text-lg whitespace-pre-line">October 2019 - July 2022 &NewLine; Bachelors degree - Informatics and Econometrics</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid-rows-1 row-start-2">
        <div class="h-full grid text-wrap text-base place-content-center justify-center items-start ml-4 pb-6 lg:items-start lg:justify-center lg:text-lg lg:place-content-start lg:pb-0 lg:ml-0">
                <p>
                    Graduated with a diploma from the Faculty of Manegement.
                </p>
                <p>
                    The studies were full-time.
                </p>
                <p>
                    During my studies, I was a member of the Quantitative Methods Club.
                </p>
                <p>
                    The curriculum covered a wide range of economic topics 
                </p>
                <p>
                    with a strong emphasis on statistics and quantitative methods.
                </p>
        </div>
    </div>
</div>