---
import { Bug } from 'lucide-astro';
import { Code } from 'lucide-astro';
import { Cog } from 'lucide-astro';
import { Playwright } from 'simple-icons-astro';
import { Postman } from 'simple-icons-astro';
import { Githubactions } from 'simple-icons-astro';
---
<div id="mainContentAside" class="grid h-full grid-cols-1 grid-rows-3 col-start-1 row-start-1 z-0">
    <div class="grid row-span-1 place-content-center">
        <Bug id="bugIcon" alt="Testing" class="w-14 h-14 hover:cursor-pointer hover:text-purple-500" />
        <p id="testingParagraph" class="col-start-1 row-start-1 hidden text-lg text-justify -m-2 whitespace-pre-line">My main interest is Quality Assurance. &NewLine; I'm expanding my knowledge into automation.</p>
    </div>
    
    <div class="grid row-span-1 place-content-center">
        <Code id="codeIcon" alt="Coding" class="w-14 h-14 hover:cursor-pointer hover:text-purple-500"/>
        <p id="devParagraph" class="col-start-1 row-start-1 hidden text-lg text-justify -m-2">I'm also interested in FrontEnd development.</p>
    </div>
    
    <div class="grid row-span-1 place-content-center">
        <Cog id="cogIcon" alt="Technologies" class="w-14 h-14 hover:cursor-pointer hover:text-purple-500"/>
        <div id="technologyContainer" class="hidden place-content-center">
            <ul class="flex flex-row gap-x-3.5">
                <li>
                    <Playwright alt="Playwright" class="w-14 h-14 hover:text-green-500"/>
                </li>
                <li>
                    <Postman alt="Postman" class="w-14 h-14 hover:text-orange-500"/>
                </li>
                <li>
                    <Githubactions alt="Github Actions" class="w-14 h-14 hover:text-blue-500"/>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    const bugIcon = document.querySelector("#bugIcon");
    const testingParagraph = document.querySelector("#testingParagraph");
    const codeIcon = document.querySelector("#codeIcon");
    const devParagraph = document.querySelector("#devParagraph");
    const cogIcon = document.querySelector("#cogIcon");
    const technologyContainer = document.querySelector("#technologyContainer");


    bugIcon.addEventListener('click', () =>{
        bugIcon.classList.add('hidden');
        testingParagraph.classList.remove('hidden');
    });
    codeIcon.addEventListener('click', () =>{
        codeIcon.classList.add('hidden');
        devParagraph.classList.remove('hidden');
    });
    cogIcon.addEventListener('click', () =>{
        cogIcon.classList.add('hidden');
        technologyContainer.classList.remove('hidden');
    });
</script>