---
import Button from '../../Shared/Button.astro';
---

<div transition:name="thirdpost" class="grid grid-cols-1 grid-rows-2 h-full">
    <div class="grid row-span-1 row-start-1 text-3xl text-center place-content-center">API</div>
    <div class="grid row-span-1 row-start-2 place-content-center">
        <Button href="../posts/api">View</Button>
    </div>
</div>