<div transition:name="thirdpost" class="
col-span-8 row-start-6 row-span-2 mx-6
lg:col-span-4 lg:row-span-4 lg:col-start-2 lg:row-start-4 lg:mt-[2px] lg:-mr-32 lg:ml-[72px] lg:max-h-[382px]
border rounded-lg shadow-sm">
<slot />
</div>