<section id="api-automation" class="h-full">
    <div class="grid h-full">
      <div class="grid items-center place-items-center  lg:place-items-center lg:items-center">
          <h2 class="text-3xl">API Automation</h2>
      </div>
      <p class="text-base text-center mx-3 lg:mx-4 lg:text-lg lg:text-center lg:text-wrap">
          With the use of the built in request fixture I have created a simple API automation testsuite. 
          <br>The project can be found here - <a class="hover:text-amber-400" target="_blank" href="https://github.com/pgutx/automated-API-testsuite">Automated API testsuite</a>
      </p>  
    </div>
  </section>