<div transition:name="firstpost" class="
col-span-8 row-start-2 row-span-2 mx-6
lg:col-span-4 lg:row-span-4 lg:col-start-2 lg:row-start-2 lg:mb-72 lg:-mt-1 lg:-mr-32 lg:ml-[72px]
border rounded-lg shadow-sm">
<slot />
</div>