<section id="playwright" class="h-full">
    <div class="grid h-full">
      <div class="grid items-center place-items-center  lg:place-items-center lg:items-center">
          <h2 class="text-3xl">Playwright</h2>
      </div>
      <p class="text-base text-center mx-3 lg:mx-4 lg:text-lg lg:text-center lg:text-wrap">
          Given my basic familiarity of web development I have decided to learn Playwright with TypeScript as the automation framework. 
          This tool offers a wide range of features and possibilities - from simple UI automation to Visual Regression and Mobile viewport emulation - all in one robust framework.
      </p>  
    </div>
  </section>