<section id="practices" class="h-full">
    <div class="grid h-full">
      <div class="grid items-center place-items-center  lg:place-items-center lg:items-center">
          <h2 class="text-3xl">Practices</h2>
      </div>
      <p class="text-base text-center mx-3 lg:mx-4 lg:text-lg lg:text-center lg:text-wrap">
          My tests follow the Arrange - Act - Assert principle. I am using Page Object Models to create an optimized way to access parts of the web application.
          With the use of custom fixtures, I can create flexible and reusable environments, which can then be used across the test files. 
          Each of the tests is broken down into layers of Playwright's test.step function for simplified and readable format.
      </p>  
    </div>
  </section>